# Exclude certain plugin data (don't expose sensitive data, keep personal settings intact)
**/cursor-positions.json
**/todoist-token
**/code-styler/reference-files/cache.json
**/various-complements/histories.json
**/text-extractor/cache/**
**/canvas-link-optimizer/data/linkCache/

# Exclude all files needed to test plugins
Tests/

# Exclude workspace cache (for desktop and mobile)
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Exclude OS settings and caches
**/desktop.ini
.DS_Store
