# Exclude certain plugin data (don't expose sensitive data)
**/todoist-token
.obsidian/plugins/visual-crossing-weather/data.json
**/cursor-positions.json
**/various-complements/histories.json
**/text-extractor/cache/**
**/canvas-link-optimizer/data/linkCache/
**/code-styler/reference-files/cache.json

# Exclude workspace cache
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Exclude OS settings and caches
**/desktop.ini
**/.DS_Store

# Exclude plugin tests (delete after forking/using template)
Tests/
